#train_layout {
    layout: horizontal;
    height: 50%;
}

#weather_layout {
    layout: horizontal;
    border: double greenyellow;
    height: 50%;
    width: 50%;
}

#schedule {
    width: 30%;
    height: 100%;
    border: double greenyellow;
    overflow: hidden;
}

#current_station {
    text-style: bold;
    color: green;
    margin: 1 0 0 1;
}

#message {
    width: 70%;
    overflow: hidden;
    height: 100%;
    border: double greenyellow;
    padding: 1 1 0 1;
}

.lag {
    color: yellow;
    text-style: bold;
}

.normal {
    color: gray;
}

Rule {
    margin: 0
}

TrainScheduleTable {
    overflow: hidden;
}

#weather_today {
    layout: vertical;
    border-right: solid greenyellow;
    width: 50%;
    height: 100%;
}

WeatherElement {
    width: 100%;
    layout: horizontal;
    padding: 0;
    margin: 0;
}

WeatherElement Label.label {
    color: gray;
}
WeatherElement Label.text {
    color: white;
}