#layout {
    layout: horizontal;
}

#schedule {
    width: 30%;
    height: 100%;
    border: double greenyellow;
    overflow: hidden;
}

#current_station {
    text-style: bold;
    color: green;
    margin: 1 0 0 1;
}

#message {
    width: 70%;
    overflow: hidden;
    height: 100%;
    border: double greenyellow;
    padding: 1 1 0 1;
}

.lag {
    color: yellow;
    text-style: bold;
}

.normal {
    color: gray;
}

Rule {
    margin: 0
}

TrainScheduleTable {
    overflow: hidden;
}