/*
Pallete colors
#032820
#80A416
#C5C764
#08852C
#AD9F3C
#5E7343
*/
#layout {
    layout: horizontal;
    background: #032820;
}

#schedule {
    width: 40%;
    height: 100%;
    border: double #80A416;
    overflow: hidden;
}

#current_station {
    text-style: bold;
    color: #08852C;
    margin: 1 0 0 1;
}

#message {
    width: 60%;
    overflow: hidden;
    height: 100%;
    border: double #80A416;
    padding: 1 1 0 1;
}

.lag {
    color: #80A416;
    text-style: bold;
}

.normal {
    color: gray;
}

Rule {
    margin: 0
}

TrainScheduleTable {
    overflow: hidden;
}